@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .text-2xl {
    font-size: 24px;
  }
  .text-sm {
    font-size: 12px;
  }
  .w-fit {
    width: fit-content;
  }
  .h-fit {
    height: fit-content;
  }
  .scale-75 {
    transform: scale(0.75);
    transform-origin: top left;
  }
  .md\:scale-100 {
    transform: scale(1);
  }
  .min-w-\[160mm\] {
    min-width: 160mm;
  }
  .md\:min-w-\[210mm\] {
    min-width: 210mm;
  }
  .max-w-\[297mm\] {
    max-width: 297mm;
  }
  .border-2 {
    border-width: 2px;
  }
  .border-neutral-400 {
    border-color: #a3a3a3;
  }
  .border-dashed {
    border-style: dashed;
  }
  .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .bg-gray-50 {
    background-color: #f9fafb;
  }
  .px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .mt-10 {
    margin-top: 2.5rem;
  }
  .mt-8 {
    margin-top: 2rem;
  }
  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  .w-1\/4 {
    width: 25%;
  }
  .w-1\/2 {
    width: 50%;
  }
  .w-full {
    width: 100%;
  }
  .h-64 {
    height: 16rem;
  }
  .text-center {
    text-align: center;
  }
  .text-red-500 {
    color: #ef4444;
  }
  .text-blue-500 {
    color: #3b82f6;
  }
  .underline {
    text-decoration: underline;
  }
  .align-top {
    vertical-align: top;
  }
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mt-auto {
    margin-top: auto;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .p-2 {
    padding: 0.5rem;
  }
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .space-x-4 > * + * {
    margin-left: 1rem;
  }
  .sticky-top {
    position: sticky;
    top: 0;
  }
  .hover\:border-blue-300:hover {
    border-color: #93c5fd;
  }
  .hover\:text-blue-400:hover {
    color: #60a5fa;
  }
  .hover\:shadow-blue-300:hover {
    box-shadow: 0 1px 3px rgba(147, 197, 253, 0.12), 0 1px 2px rgba(147, 197, 253, 0.24);
  }
}